 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.u-section-1 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-1 .u-image-1 {
  width: 499px;
  height: 499px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 150px auto 0 576px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -306px auto 0 65px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -10px 655px 0 65px;
}

.u-section-1 .u-group-1 {
  width: 335px;
  min-height: 94px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 223px 147px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 295px;
  --radius: 50px;
  height: 54px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-social-icons-1 {
  height: 33px;
  min-height: 16px;
  width: 225px;
  min-width: 140px;
  white-space: nowrap;
  margin: -43px auto 0 55px;
}

.u-section-1 .u-icon-1 {
  height: 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 247px;
  margin: -110px 672px 60px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    transition-duration: 0.5s;
    margin-left: 441px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -299px;
    margin-right: 524px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 524px;
    margin-left: 10px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 225px;
    margin-right: 82px;
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 100px;
    margin-right: 527px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 390px;
    height: 390px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 412px;
    margin-top: 30px;
    margin-left: 154px;
    margin-right: 154px;
  }

  .u-section-1 .u-text-2 {
    width: 420px;
    margin-top: 0;
    margin-left: 150px;
    margin-right: 150px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 330px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 915px;
}

.u-section-2 .u-group-1 {
  width: 940px;
  --radius: 50px;
  height: auto;
  min-height: 586px;
  animation-timing-function: ease-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 6px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-top: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2 .u-group-1 {
    min-height: 745px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: 2px;
    margin-right: 2px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 825px;
}

.u-section-3 .u-group-1 {
  width: 600px;
  --radius: 50px;
  height: auto;
  min-height: 63px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-group-2 {
  width: 600px;
  --radius: 50px;
  height: auto;
  min-height: 63px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-group-3 {
  width: 600px;
  --radius: 50px;
  height: auto;
  min-height: 63px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0 16px;
}

.u-section-3 .u-group-4 {
  width: 600px;
  --radius: 50px;
  height: auto;
  min-height: 63px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto;
}

.u-section-3 .u-group-5 {
  width: 600px;
  --radius: 50px;
  height: auto;
  min-height: 62px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 15px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-group-6 {
  width: 600px;
  --radius: 50px;
  height: auto;
  min-height: 62px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 60px;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 15px;
}

.u-section-3 .u-text-6 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 74px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-3 .u-group-4 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-3 .u-group-6 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 27px;
    margin-left: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 236px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-3 .u-group-5 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-group-6 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 857px;
}

.u-section-4 .u-group-1 {
  width: 747px;
  height: auto;
  --radius: 50px;
  min-height: 552px;
  margin: 100px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 153px;
  height: 153px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 35px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -108px auto 0 80px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -61px 35px 0 200px;
}

.u-section-4 .u-shape-2 {
  width: 153px;
  height: 153px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 79px auto 0 35px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -108px auto 0 80px;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -61px 36px 0 200px;
}

.u-section-4 .u-shape-3 {
  width: 153px;
  height: 153px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 79px auto 0 35px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -108px auto 0 80px;
}

.u-section-4 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  margin: -61px 35px 57px 200px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 399px;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 8px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -70px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-4 .u-group-1 {
    width: 645px;
    min-height: 601px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 18px;
    margin-left: 23px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 68px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -56px;
    margin-right: 33px;
    margin-left: 191px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 100px;
    margin-left: 18px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 63px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -56px;
    margin-right: 78px;
    margin-left: 186px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 100px;
    margin-left: 18px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 63px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin: -56px 18px 0 186px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -678px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    margin-top: 114px;
    min-height: 541px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 16px;
    margin-left: 18px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 63px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 5px;
    margin-left: 184px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 52px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -68px;
    margin-right: 0;
    margin-left: 189px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 63px;
    margin-left: 21px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 66px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -68px;
    margin-right: 21px;
    margin-left: 192px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -618px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-group-1 {
    min-height: 646px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 52px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 53px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 52px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -690px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 786px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 847px 0 119px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  border-style: solid;
  margin: 22px auto 0 120px;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 0 119px;
  padding: 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 0 120px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0 120px;
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0 120px;
  padding: 0;
}

.u-section-5 .u-text-3 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 0 120px;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0 120px;
  padding: 0;
}

.u-section-5 .u-text-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 0 120px;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0 121px;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 60px 120px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 760px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 62px;
    margin-right: 535px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 350px;
    margin-left: 40px;
  }

  .u-section-5 .u-btn-1 {
    width: 84px;
    margin-left: 40px;
  }

  .u-section-5 .u-btn-2 {
    width: 93px;
    margin-left: 40px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 40px;
  }

  .u-section-5 .u-btn-3 {
    width: 107px;
    margin-left: 40px;
  }

  .u-section-5 .u-btn-4 {
    width: 107px;
    margin-left: 40px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 40px;
  }

  .u-section-5 .u-btn-5 {
    width: 82px;
    margin-left: 40px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 40px;
  }

  .u-section-5 .u-btn-6 {
    width: 172px;
    margin-left: 40px;
  }

  .u-section-5 .u-btn-7 {
    width: 190px;
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-7 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 179px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 61px 47px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-6 .u-text-1 {
    margin: 60px -50px;
  }
}