.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  width: 853px;
  margin: 50px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 369px;
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-2 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-3 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-4 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-5 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-6 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-7 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-8 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-9 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-10 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-11 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-12 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-13 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-14 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-15 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-list-item-16 {
  --radius: 20px;
  --top-left-radius: 20px;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1089px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}